.bg-pastel-blue {
  background-color: #5daeff;
  border: 3px solid white;
}

.one_tap {
  text-indent: 1em;
}

.shields_io {
  height: 34px;
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}